.interact
  %ul
    - if (user_signed_in? && current_user.id == task.user.id)
      %li
        - if task.assignee
          = link_to 'Get Different Help', '#help', class: 'button active', id: 'revoke-button'
        - else
          = link_to 'View Offers', task_offers_path(task), class: 'button active'
      - if task.assignee
        %li
          =  link_to 'Task Completed', complete_task_path(task), class: 'button active', id: 'complete-button'

      - if !task.assignee
        %li
          = link_to 'Delete', '#delete', class: 'button active report', id: 'delete-button'
    - else
      %li
        - if has_user_offer?
          = link_to 'Help Offered', '#help', class: 'button disabled', id: 'help-button'
        - else
          = link_to 'Offer Help', '#help', class: 'button active', id: 'help-button'
      %li
        - if has_user_report?
          = link_to 'Reported', '#report', class: 'button disabled', id: 'report-button'
        - else
          = link_to 'Report', '#report', class: 'button active report', id: 'report-button'
    - if user_signed_in? && task.assignee && (current_user.id == task.user.id || current_user.id == task.assignee.id)
      = link_to 'Chat', '#report', class: 'button active', id: 'chat-button'
