.task
  .map
    #map-canvas
  .task-content
    .left
      .title
        %h3.medium-padding
          = truncate(@task.title, length: 80)
      .details
        %p.ago.h2
          Submitted
          = time_ago_in_words(@task.created_at, Time.now)
          ago by
          = link_to 'username', user_path(@task.user)
        .location
          %ul
            %li
              %span.field.h2
                Start Location:
              %span.data.h2
                = @task.start_loc
            %li
              %span.field.h2
                Task starts in:
              %span.data.h2
                = distance_of_time_in_words(Time.now, @task.start_time)
            %li
              %span.field.h2
                End Location:
              %span.data.h2
                = @task.end_loc

            %li
              %span.field.h2
                Estimated Time:
              %span.data.h2
                = "#{@task.estimated_time} minutes"

        %p{data: {p: @task.description }}
          = @task.description
        = render partial: 'tasks/interact'
      .comments
    .right
      .status
        %h3.medium-padding
          Nice people needed
        %p.grey.h2
          There are
          = link_to "#{@task.offers.count}", task_offers_url(@task), class: 'normal-link', id: 'offers'
          offers
        .share
          %h3.medium-padding
            Share to:
          %ul
            %li
              = link_to 'Share to Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{CGI.escape(request.original_url)}",
                class: 'facebook-icon', id: 'share-facebook'
            %li
              = link_to 'Share to Twitter', "https://twitter.com/intent/tweet?url=#{CGI.escape(request.original_url)}", class: 'twitter-icon', id: 'share-twitter'
            %li
              %script{type: 'text/javascript'}
                reddit_url = 'http://www.reddit.com/r/WTF/comments/1m9nh4/im_a_director_of_an_afterschool_program_at_an/'
              %script{type: 'text/javascript', src: 'http://www.reddit.com/static/button/button3.js'}

= content_for :javascript do
  = javascript_include_tag 'nicely/tasks/manifest.js'
= content_for :javascript do
  :javascript
    jQuery(document).ready(function($){
      tasksController = new Nicely.Tasks.TasksController();
      tasksController
        .newOfferURL("#{task_offers_url(@task)}")
        .newReportURL("#{task_reports_url(@task)}")
      var taskView = new Nicely.Tasks.TaskView(tasksController, #{@task.to_json}, { el: '.task'});
    });
  - if user_signed_in?
    :javascript
      tasksController.userID(#{current_user.id});



