.task
  .map
    #map-canvas
  .task-content
    .left
      .title
        %h3.medium-padding
          = truncate(@task.title, length: 80)
      .details
        %p.ago.h2
          Submitted
          = time_ago_in_words(@task.created_at, Time.now)
          ago by
          = link_to 'username', user_path(@task.user)
        .location
          %ul
            %li
              %span.field.h2
                Start Location:
              %span.data.h2
                = @task.start_loc
            %li
              %span.field.h2
                Task starts in:
              %span.data.h2
                = distance_of_time_in_words(Time.now, @task.start_time)
            %li
              %span.field.h2
                End Location:
              %span.data.h2
                = @task.end_loc

            %li
              %span.field.h2
                Estimated Time:
              %span.data.h2
                = "#{@task.estimated_time} minutes"

        %p{data: {p: @task.description }}
          = @task.description
        .interact
          %ul
            %li
              = link_to 'Offer Help', '#help', class: 'button', id: 'help-button'
            %li
              = link_to 'Report', '#report', class: 'button report', id: 'report-button'
      .comments
    .right
      .status
        %h3.medium-padding
          Nice people needed
        %p.grey.h2
          There are
          = link_to '0', '#offers', class: 'normal-link', id: 'offers'
          offers
        .share
          %h3.medium-padding
            Share to:
          %ul
            %li
              = link_to 'Share to Facebook', '#', class: 'facebook-icon'
            %li
              = link_to 'Share to Twitter', '#', class: 'twitter-icon'
            %li
              = link_to 'Share to Reddit', '#', class: 'reddit-icon'

= content_for :javascript do
  = javascript_include_tag 'nicely/tasks/manifest.js'
  :javascript
    jQuery(document).ready(function($){
      var taskView = new Nicely.Tasks.TaskView(#{@task.to_json}, { el: '.task'});
    });