.nav-bg
  %nav
    .title
      = link_to 'Nicely', root_path, class: 'bold-links'
    %ul.nav-links
      %li
        = link_to 'Contact', root_path, class: 'bold-links'
      %li
        = link_to 'About', root_path, class: 'bold-links'
      %li
        = link_to 'Login', root_path, class: 'bold-links'
.content
  .landing
    .text
      %h3 Making the world a better place, one favor at a time.
      %p
        = link_to 'Sign up', root_path, class: 'bold-links white'



